{% extends 'index.html' %}
{%load static%}

{% block content %}

<section id="main">
    <div class="main-text">
    <h6>Project Billingsystem</h6>
    <h1>All Customers</h1>
    <p>List of all Customer Accounts. <br>
        Choose one to see more details of a specific customer.</p>
<center>
        <a class="btn" href="/add-customer">Add</a>
    </center>
    </div>
    
    </section>
    
     <!--------------Customerlist-------------->
     <section id="customerList">
        
    
    </section>

{% endblock %}
