{% extends 'index.html' %}
{%load static%}

{% block content %}

<section id="main">
    <div class="main-text">
    <h6>Project Billingsystem</h6>
    <h1>All Customers</h1>
    <p>List of all Customer Accounts. <br>
        Choose one to see more details of a specific customer.</p>
    <center>
        <a class="btn" href="/add-customer">Add</a>
       
        
    </center>
    </div>
    
    </section>
    
     <!--------------Customerlist-------------->

    {% for c in customers %}
    <div class="customerList">
    <div class="card" style="width: 100%;">
    <div class="card-body">
        <h5 class="card-title">Customer:</h5>
        <h4 class="card-title">{{c.name}} {{c.id}}</h4>
        <p class="card-text">address: {{c.address}} </p>
        <p class="card-text">phone: {{c.phone}} </p>
        <p class="card-text">email: {{c.mail}} </p>
        <p class="card-text">Vat: {{c.vat}} </p>

        <a href="/edit-customer-get/{{c.id}}/"class="btn" >Edit</a>
        <a href="/confirm-delete-customer/{{c.id}}/" class="btn" >Delete</a>
        <a href="/invoices-by-customer/{{c.id}}/" class="btn-ghost" >{{c.name}} Invoices</a>
        
    </div>
</div>
</div>

{%endfor%}





{% endblock %}
