{% extends 'index.html' %}
{%load static%}

{% block content %}

<section id="main">
    <div class="main-text">
    <h6>Project Billingsystem</h6>
    <h1>All Customers</h1>
    <p>List of all Customer Accounts. <br>
        Choose one to see more details of a specific customer.</p>
<center>
        <a class="btn" href="/add-customer">Add</a>
    </center>
    </div>
    
    </section>
    
     <!--------------Customerlist-------------->
<section id="customerList">
    {% for c in customers %}
<div class="card" style="width: 50rem;">
    <div class="card-body">
        <h4 class="card-title">{{c.name}}</h4>
        <p class="card-text">phone: {{c.phone}} </p>
        <p class="card-text">email: {{c.mail}} </p>
        <p class="card-text">Vat: {{c.vat}} </p>

        <!-- <a href="/edit-supplier-get/{{s.id}}/" class="btn btn-primary">Edit</a>
        <a href="/confirm-delete-supplier/{{s.id}}/" class="btn btn-danger">Delete</a>
        <a href="/products-by-supplier/{{s.id}}/" class="btn btn-secondary">{{s.companyname}} Products</a> -->
    </div>
</div>


{%endfor%}
    
    
</section>

{% endblock %}
