<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Pay</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script> -->

<!-- <script>
    document.addEventListener("DOMContentLoaded", function() {
        var addRowButton = document.getElementById("add-row-button");
        var formsetContainer = document.getElementById("formset-container");

        addRowButton.addEventListener("click", function() {
            // Clone the last form in the formset and append it to the container
            var lastForm = formsetContainer.lastElementChild;
            var clonedForm = lastForm.cloneNode(true);

            // Reset form values to avoid issues with form submission
            clonedForm.querySelectorAll('input, select, textarea').forEach(function(input) {
                input.value = '';
            });

            formsetContainer.appendChild(clonedForm);
        });
    });
</script> -->



{% load static %}
<link rel="stylesheet" href="{% static '/style.css' %}">
<link rel="stylesheet" href="{% static '/customers.css' %}" >
<link rel="stylesheet" href="{% static '/form.css' %}" >


</head>
<body>
    <div class="container">
        <center>
        <div class="btn-group" role="group">
            <a class="btn" href="/">Home</a>
            <a class="btn" href="/customerlist">Customers</a>
            <a class="btn" href="/invoicelist">Bills</a>
            <!-- <a class="btn" href="/invoicerowlist">Bills</a> -->
            <a class="btn" href="/admin">Admin pages</a>
            <a class="btn-ghost">Logout</a>
        </div>
    </center>
            {% block content %}


            {% endblock %}

      
    </div>
</body>
</html>