{% extends 'index.html' %}

{% block content %}
<div class="card" style="width: 60rem;">
    <center>
    <div class="card-header">
        <h5>Editing Invoice, ID: {{ invoice.id }} by {{ invoice.customerAccount.name }} </h5>
    </div>
    </center>
    <div class="card-body">
        <form method="post" action="{% url 'edit_invoice_post' invoice.id %}">
            {% csrf_token %} 
            <!-- {{ formset.errors }} -->
            {{ formset.management_form }}
            {% for form in formset %}
                <!-- {{ form.errors }} -->
            {{ form.as_table }}
            {% endfor %}
            <center>
            <input type="submit" class="btn" value="Save">
            </center>
        </form>

    </div>
</div>



{% endblock %}