{% extends 'index.html' %}


{% block content %}
<section id="home" style="height: 20rem;">
    <div class="home-text">
    <h6>Project Billingsystem</h6>
    <h1>Add New Bill</h1>
    <p>Fill in the Form.</p>


</section>
<br>
<div class="card" style="width: 60rem;">
<form method="post" action="{% url 'add-invoice' %}">
    {% csrf_token %}
    {{ form.as_p }}

    <div id="formset-container">
     
        {{ formset.management_form }}
        {{ formset.as_table }}
    </div>
    <center>
    <button type="submit" class="btn">Create Invoice</button>
    </center>
</form> 
</div>



{% endblock %}



