
{% extends 'index.html' %}


{% block content %}
<section id="home">
    <div class="home-text">
    <h6>Project Billingsystem</h6>
    <h1>Add New Bill</h1>
    <p>Fill in the Form.</p>


    <div class="form-div">
       
    </div>
    </div>

</section>
<form method="post" action="{% url 'add-invoice' %}">
    {% csrf_token %}
    {{ form.as_p }}

    {{ formset.management_form }}
    {% for form in formset %}
        {{ form.as_table }}
    {% endfor %}

    <button type="submit">Create Invoice</button>
</form>
{% endblock %}