{% extends 'index.html' %}

{% block content %}
<div class="card" style="width: 25rem;">
    
    <div class="card-header">
        <h5>Editing Invoice, ID: {{ invoice.id }} by {{ invoice.customerAccount.name }} </h5>
    </div>

    <div class="card-body">
        <form method="post" action="{% url 'edit_invoice_post' invoice.id %}">
            {% csrf_token %} 
            <!-- {{ formset.errors }} -->
            {{ formset.management_form }}
            {% for form in formset %}
                <!-- {{ form.errors }} -->
            {{ form.as_table }}
            {% endfor %}
            <input type="submit" value="Save">
        </form>

        <!-- <form method="post" action="{% url 'edit_invoice_post' invoice.id %}">
            {% csrf_token %}
            {{ formset.errors }}
            {{ formset.management_form }}
        
            <table>
                {% for form in formset %}
                    {% if form.instance.id %}
                        {{ form.as_table }}
                    {% endif %}
                {% endfor %}
            </table>
        
            <input type="submit" value="Save">
        </form> -->




        <!-- <form method="post" action="{% url 'edit_invoice_post' invoice.id %}">
            {% csrf_token %}
            {{ form.as_p }}
        
            <div id="formset-container">
                {{ formset.management_form }}
                {{ formset.forms.0.as_table }}
            </div>
            <input type="submit" value="Save">
          </form> -->
    </div>
</div>



{% endblock %}