{% extends 'index.html' %}


{% block content %}
<section id="home">
    <div class="home-text">
    <h6>Project Billingsystem</h6>
    <h1>Add New Bill</h1>
    <p>Fill in the Form.</p>


    <div class="form-div">
       
    </div>
    </div>
    
</section>
<!-- <form method="post" action="{% url 'add-invoice' %}">
    {% csrf_token %}
    {{ form.as_p }}

    {{ formset.management_form }}
    {% for form in formset %}
        {{ form.as_table }}
    {% endfor %}

    <button type="submit">Create Invoice</button>
</form> -->

<form method="post" action="{% url 'add-invoice' %}">
    {% csrf_token %}
    {{ form.as_p }}

    <div id="formset-container">
        {{ formset.management_form }}
        {% for form in formset %}
            {{ form.as_table }}
        {% endfor %}
    </div>

    <button type="submit">Create Invoice</button>
    <button type="button" id="add-row-button">Add Row</button>
</form>
{% endblock %}



